bin/
test_file.txt
# Eclipse IDE files and directories.
.classpath
.project
.settings
.idea

# Maven build directory.
target/

# Flyway database migration credentials file.
sqlstore/flyway.properties

# Test files
core/test_file.txt
notification-server/metrixDaemon.log

