language: java
git:
  depth: 3
sudo: required
addons:
  apt:
    packages:
      - oracle-java8-installer
jdk:
  - oraclejdk8

before_script:
  - export MAVEN_OPTS='-Xms1g -Xmx2g'
script:
  - mvn clean -P external -Dmaven.javadoc.skip=true -DskipITs=false install

cache:
  directories:
    - $HOME/.m2
