version: '3.7'

################################################################################
# Builds and brings up a MISO LIMS environment in detailed sample mode.
# 
# Intended for testing the current version of the MISO codebase.
# NOT INTENDED FOR PRODUCTION USE. 
# See the docs for more information: https://miso-lims.github.io/miso-lims/
#
# Environment variables must be provided for this file to work. 
# The .env file or shell environment variables contain: 
# the following: 
# * MISO_DB_USER : name of the MySQL user who accesses MISO_DB [tgaclims]
# * MISO_DB : name of the LIMS Db in MySql [lims]
# * MISO_DB_PASSWORD_FILE : path to the file with the password to the MySQL DB for user MISO_DB_USER
#
################################################################################
# USAGE : run in cloned miso-lims repository 
#
# echo "changeme" > ./.miso_db_password
# docker-compose -f docker-compose.detailed.yml build
# docker-compose -f docker-compose.detailed.yml up
################################################################################
# Code available at https://github.com/miso-lims/miso-lims under GPL-3.0
################################################################################


secrets:
  lims_password: 
    file: ${MISO_DB_PASSWORD_FILE}
  root_password:
    file: ${MISO_DB_ROOT_PASSWORD_FILE}

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/root_password
      MYSQL_DATABASE: ${MISO_DB}
      MYSQL_USER: ${MISO_DB_USER}
      MYSQL_PASSWORD_FILE: /run/secrets/lims_password
    secrets:
      - root_password
      - lims_password

  flyway:
    build:
      context: .
      target: flyway-migration
    command: migrate
    secrets:
      - root_password
    links:
      - db
    depends_on:
      - db
    volumes:
      - type: bind
        source: "./.docker/detailed_sample_config/V0792__drop-inconvenient-rows.sql"
        target: "/flyway/sql/V0792__drop-inconvenient-rows.sql"
        volume:
          nocopy: true
      - type: bind
        source: "./.docker/detailed_sample_config/V0793__detailed_sample_data.sql"
        target: "/flyway/sql/V0793__detailed_sample_data.sql"
        volume:
           nocopy: true

      
  webapp:
    build:
      context: .
      target: webapp
    restart: always
    secrets:
      - lims_password
    links:
      - db
    depends_on:
      - db
    volumes:
      - type: bind
        source: "./.docker/detailed_sample_config/miso.properties"
        target: "/usr/local/tomcat/conf/Catalina/localhost/miso.properties"
        volume:
          nocopy: true
  
  nginx:
    image: nginx:1.15.12-alpine
    ports: 
      - "80:80"
    volumes:
      - type: bind
        source: "./.docker/nginx/http.conf"
        target: "/etc/nginx/conf.d/default.conf"
        volume:
          nocopy: true
    links:
      - webapp
    depends_on:
      - webapp