<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012. The Genome Analysis Centre, Norwich, UK
  ~ MISO project contacts: Robert Davey @ TGAC
  ~ **********************************************************************
  ~
  ~ This file is part of MISO.
  ~
  ~ MISO is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ MISO is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with MISO. If not, see <http://www.gnu.org/licenses/>.
  ~
  ~ **********************************************************************
-->

<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:task="http://www.springframework.org/schema/task"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
                      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
                      http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
                      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
  default-autowire="byName">
  <tx:annotation-driven proxy-target-class="true" />

  <context:component-scan annotation-config="true" base-package="com.eaglegenomics.simlims" />
  <context:component-scan annotation-config="true" base-package="uk.ac.bbsrc.tgac.miso" />
  <context:component-scan annotation-config="true" base-package="net.sourceforge.fluxion.ajax" />

  <bean name="webBindingInitializer" class="uk.ac.bbsrc.tgac.miso.spring.LimsBindingInitializer" />

  <bean id="propertyConfigurer" class="uk.ac.bbsrc.tgac.miso.webapp.util.MisoPropertyExporter">
    <property name="location" value="${miso.propertiesFile}" />
  </bean>

  <bean id="applicationContextProvider" name="applicationContextProvider" class="uk.ac.bbsrc.tgac.miso.webapp.context.ApplicationContextProvider" />
  <bean id="iApplicationContextProvider" name="iApplicationContextProvider" class="uk.ac.bbsrc.tgac.miso.integration.context.ApplicationContextProvider" />

  <bean name="prometheusInterceptor" class="uk.ac.bbsrc.tgac.miso.webapp.context.PrometheusInterceptor" />
  <bean id="prometheusAdvisor"
     class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
     <property name="advice">
        <ref bean="prometheusInterceptor"/>
     </property>
     <property name="pattern">
        <value>uk\.ac\.bbsrc\.tgac\.miso\.persistence\.impl\.Hibernate.*</value>
     </property>
  </bean>

  <import resource="db-config.xml" />

  <import resource="integration-config.xml" />

  <import resource="miso-config.xml" />

  <import resource="${security.method}-security-config.xml" />

  <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
     <property name="corePoolSize" value="5" />
     <property name="maxPoolSize" value="10" />
     <property name="queueCapacity" value="25" />
  </bean>
  <task:annotation-driven executor="taskExecutor" scheduler="taskScheduler"/>
  <task:executor id="taskExecutor" pool-size="2"/>
  <task:scheduler id="taskScheduler" pool-size="10"/>

</beans>
