<ul class="nav nav-list">
    <!--<li><a href="{{ site.baseurl }}/">Home</a></li>-->
    <a href="{{ site.baseurl }}/about">About</a>
    <hr>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] %}
            {% if forloop.first %}
                <li class="nav-header">{{ label }}</li>
            {% endif %}
            <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</ul>
<hr>
<a href="https://twitter.com/misolims" class="twitter-follow-button" data-show-count="false">Follow @misolims</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
