[Unit]
Description=MISO Notification Server

[Server]
Type=forking
StandardOutput=null
StandardError=journal
WorkingDirectory=/srv/notification-server
ExecStart=/usr/bin/java -jar notification-server.jar

[Install]
WantedBy=multi-user.target
