[Unit]
Description=MISO Notification Service

[Service]
Type=simple
User=seqprodbio
Group=seq
WorkingDirectory=/opt/miso-notification
ExecStart=/usr/bin/java -Xmx2G -jar /opt/miso-notification/notification-server-onejar.jar

[Install]
WantedBy=multi-user.target
