<?xml version="1.0" encoding="UTF-8"?>
<beans
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:task="http://www.springframework.org/schema/task"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                      http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
                      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                      http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
  default-autowire="byName">
  <tx:annotation-driven proxy-target-class="true" />

  <context:component-scan annotation-config="true" base-package="com.eaglegenomics.simlims" />
  <context:component-scan annotation-config="true" base-package="uk.ac.bbsrc.tgac.miso" />

  <bean id="propertyConfigurer" class="uk.ac.bbsrc.tgac.miso.webapp.util.MisoPropertyExporter">
    <property name="location" value="${miso.propertiesFile}" />
  </bean>

  <aop:config />

  <bean name="prometheusInterceptor"
    class="uk.ac.bbsrc.tgac.miso.webapp.context.PrometheusInterceptor" />
  <bean id="prometheusAdvisor"
    class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
    <property name="advice">
      <ref bean="prometheusInterceptor" />
    </property>
    <property name="patterns">
      <array>
        <value>uk\.ac\.bbsrc\.tgac\.miso\.service\.impl\..*</value>
        <value>uk\.ac\.bbsrc\.tgac\.miso\.webapp\.controller\..*</value>
      </array>
    </property>
  </bean>

  <import resource="db-config.xml" />

  <import resource="integration-config.xml" />

  <import resource="miso-config.xml" />

  <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
    <property name="corePoolSize" value="5" />
    <property name="maxPoolSize" value="10" />
    <property name="queueCapacity" value="25" />
  </bean>
  <task:annotation-driven executor="taskExecutor" scheduler="taskScheduler" />
  <task:executor id="taskExecutor" pool-size="2" />
  <task:scheduler id="taskScheduler" pool-size="10" />

  <mvc:annotation-driven>
    <mvc:message-converters>
      <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="objectMapper" ref="objectMapper" />
      </bean>
    </mvc:message-converters>
  </mvc:annotation-driven>
  <mvc:resources mapping="/scripts/**" location="/scripts/"></mvc:resources>
  <mvc:resources mapping="/styles/**" location="/styles/"></mvc:resources>
  <mvc:resources mapping="/favicon.ico" location="/favicon.ico"></mvc:resources>
  <mvc:resources mapping="/index.html" location="/index.html"></mvc:resources>

</beans>