:root {
    --grey-dark: #A9A9A9;
    --grey-light: #CDCDCD;
    --grey-extralight: #FAFAFA;
    --purple-dark: #404087;
    --purple-light: #F0F0FF;
    --yellow-light: #FEFEE3;
    --error-background: #FFE3E3;
}

html {
    text-align: center;
    background: #F3F3F3;
}

body {
    font: 80% "Trebuchet MS", Helvetica;
    text-align: left;
    color: #333;
    margin: 0px ! important;
    background: #FFF;
    padding: 5px;
}

h1 {
    font-size: 1.8em;
    padding-left: 8px;
    margin: 0 0 0 -2px;
    color: #666666;
    text-align: center;
    background-color: var(--purple-light);
    border-bottom: 1px solid var(--grey-dark);
    border-right: 1px solid var(--grey-dark);
}

h2 {
    font-size: 1.2em;
    padding: 0;
    margin: 0.8em 0em 0em 0em;
    color: #666666;
}

p {
    line-height: 1.5em;
    font-size: 1.2em;
    margin-bottom: 0em;
}

#content {
    clear: both;
}

#footer {
    clear: both;
    font-size: 0.7em;
    text-align: center;
}

a {
    color: var(--purple-dark);
    text-decoration: underline;
}

.disabled {
    opacity: .4;
    color: var(--grey-dark);
}

#pageHeader {
	display: table;
	width: 100%;
    border-bottom: thick double #666;
}

#pageHeader .cell {
    display: table-cell;
    vertical-align: bottom;
}

#pageHeader #logoContainer {
    width: 192px;
    padding-left: 10px;
    float:left;
}

#pageHeader #misologo {
    height: 36px;
}

#pageHeader #instanceName {
    font: Helvetica;
    color: #666666;
    font-size: 36px;
    padding-left: 10px;
}

#loggedInBanner {
    color: gray;
    padding-right: 2px;
    float: right;
    font-size: 12px;
}

div.menu {
    margin: 0;
}

div.menu a {
    color: #444;
    text-decoration: none;
    display: block;
    padding: 0.4em 0.5em;
    padding-left: 1em;
    margin: 0;
}

h2.menuDropdownTitle {
    padding: 0.4em 0.5em;
    padding-left: 0;
}

div.menu a:hover, h2.menuDropdownTitle:hover {
    color: var(--purple-light);
    background-color: #444;
}

div.menu a:active, h2.menuDropdownTitle:active {
    color: #444;
    background-color: transparent;
}

div.menu a.submenu {
    padding: 0.1em 0.5em;
    padding-left: 2.5em;
}

table.in {
    border-collapse: collapse;
    width: 100%;
}

table.in td.h {
    width: 20%;
    vertical-align: middle;
}

table.in td {
    padding: 3px;
}

table.in input[type="text"] {
    border-left: 1px solid #666699;
    border-top: 1px solid #666666;
    width: 94%;
}

table.in textarea {
    border-left: 1px solid #666699;
    border-top: 1px solid #666666;
    width: 94%;
    height: 240px;
    font-family: inherit;
}

table.in select {
    width: 95%
}

table.in select[multiple="multiple"] {
    background-color: #EEEEFF;
    border-left: 1px solid #666699;
    border-top: 1px solid #666666;
    min-height: 50px;
    min-width: 49%;
}

.right {
    text-align: right;
}

.errorTitle {
	font-size: 3.8em;
	font-weight: bold;
}

#maincontent {
    width: 100%;
    float: left;
    background-color: #FFFFFF;
}

#contentcolumn {
    margin-left: 215px;
}

#subcontent {
    background-color: var(--purple-light);
    border-bottom: 1px solid var(--grey-dark);
    border-left: 1px solid var(--grey-light);
    border-right: 1px solid var(--grey-dark);
    float: left;
    margin-left: -100%;
    padding: 5px 0 5px 10px;
    width: 200px;
}

/* Note boxes */
.exppreview {
    background-color: #FFFFFF;
    font: 10px Verdana, arial, sans-serif;
    border: 1px solid var(--grey-light);
    margin: 5px;
    padding: 5px;
    width: 94%;
}

.tile {
    font: 10px Verdana, arial, sans-serif;
    border: 1px solid var(--grey-light);
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    background: #FFFFFF;
}

.tile p {
    line-height: inherit;
    font-size: inherit;
    margin-bottom: inherit;
}

.tile:hover {
    background-color: #F0F0F6;
    color: #111;
    cursor: pointer;
}

.dashboard_widget{
    margin:20px 0 0 20px;
    float:left;
}

.tile .name img {
    float: right;
}

.widget_title {
    background-color: var(--purple-light);
    border: 1px solid var(--grey-light);
    border-bottom: 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    width: 320px;
    height: 30px;
    text-align: center;
    color: #666666;
    font-size: 1.4em;
    font-weight: bold;
}


.widget_title input[type="text"] {
    margin-left: 5px;
}

.widget {
    border: 1px solid var(--grey-light);
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 320px;
    height: 280px;
    overflow: auto;
}

.progress-bar {
    width: 100%;
    background-color: var(--grey-light);
    border: 1px solid var(--purple-dark);
}

.progress-bar-progress {
    height: 16px;
    width: 0%;
    background-color: var(--purple-dark);
    background-image: repeating-linear-gradient(
    45deg,
    var(--purple-dark),
    var(--purple-dark) 10px,
    var(--purple-light) 10px,
    var(--purple-light) 20px
  );
  border: 1px solid var(--purple-dark);
  background-size: 200% 300%;
  animation: progress-stripes 1s linear infinite;
}

@keyframes progress-stripes {
  100% {
    background-position: 0px -28px;
  }
}

/* Quick Help and similar blocks */
.note {
    background-color: var(--yellow-light);
    border: 1px solid #333333;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
}

.note p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.note table {
    margin: 12px 24px;
}

.note table, .note th, .note td {
    border: 1px solid black;
    border-collapse: collapse;
}

.note th, .note td {
    padding: 4px 8px;
}

div.sectionDivider {
    text-align: right;
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
    padding-top: 12px;
    background: #FFF;
    font-weight: bold;
    color: #666666;
}

div.sectionDivider:hover {
    background: #EEEEFF;
}

div.sectionDivider a {
    text-decoration: none;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.fg-button {
    float: right;
    margin-bottom: 2px;
    margin-right: 3px;
    margin-top: 3px;
    padding: 2px;
}

/* collapsible sections */
.toggleLeft {
    float: right;
    margin-top: 3px;
    margin-left: 4px;
    width: 12px;
    height: 12px;
    background: url(images/toggle-left.png) no-repeat;
}

.toggleRight {
    float: left;
    margin-top: 3px;
    margin-right: 4px;
    width: 12px;
    height: 12px;
    background: url(images/toggle-right.png) no-repeat;
}

.toggleLeftDown {
    float: right;
    margin-top: 3px;
    margin-left: 4px;
    width: 12px;
    height: 12px;
    background: url(images/toggle-down.png) no-repeat;
}

.toggleRightDown {
    float: left;
    margin-top: 3px;
    margin-right: 4px;
    width: 12px;
    height: 12px;
    background: url(images/toggle-down.png) no-repeat;
}

#login-form table {
    margin-top: 3em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--grey-dark);
    background-color: var(--purple-light);
    color: #666666;
}

#login-form table td {
    padding: 6px;
}

#login-form label {
    font-weight: bold;
}

div.flasherror {
    background: url(images/exclamation.png) 8px 50% no-repeat;
    background-color: var(--error-background);
    border-color: #dd0000;
    color: #880000;
    padding: 4px 4px 4px 30px;
    margin-bottom: 12px;
    font-size: 1.3em;
    border: 2px solid;
}

.bubbleInfo {
    position: relative;
    top: 0px;
    left: 0px;
    width: 300px;
}

.breadcrumbs {
    background: #ffffff;
    margin-bottom: 20px;
}

.breadcrumbs ul {
    font: 11px Arial, Helvetica, sans-serif;
    background: transparent;
    line-height: 30px;
    color: #9b9b9b;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: inline;
}

.breadcrumbs li {
    list-style-type: none;
    float: left;
    padding-left: 10px;
    font-weight: bold;
}

.breadcrumbs span a.arrowright {
    display: block;
    background-image: url(images/bc_separator.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15px;
    color: #454545;
    height: 16px !important;
}

.breadcrumbs span a.arrowleft {
    display: block;
    background-image: url(images/bc_separator-left.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
    color: #454545;
    height: 16px !important;
}

.breadcrumbs a {
    height: 30px;
    display: block;
    background-image: url(images/bc_separator.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
    text-decoration: none;
    color: #454545;
}

.breadcrumbsbubbleInfo {
    position: relative;
    top: 0px;
    left: 0px;
}

.breadcrumbspopup {
    position: absolute;
    display: none;
    z-index: 1;
    border-collapse: collapse;
    background-color: white;
    font: 10px Verdana, arial, sans-serif;
    border: 1px solid var(--grey-light);
    margin: 75px 5px 5px 0;
    padding: 5px;
}

.sddm {
    margin: -25px 8px 0 0;
    padding: 0;
    z-index: 30;
    float: right;
}

.sddm li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sddm li a {
    display: block;
    margin: 0 1px 0 0;
    padding: 4px 10px;
    width: 120px;
    color: #333333;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
}

.sddm li a.disabled {
	color: var(--grey-dark);
}

.sddm div.run {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #EAEBD8;
    border: 1px solid #5970B2;
    z-index: 10000;
    text-align: right;
    right: 550px;
}

.sddm div {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border: 1px solid #5970B2;
    z-index: 10000;
    text-align: right;
    right: 5%;
    display: table;
    width: 139px;
}

.sddm div a {
    background-image: url(images/add.png);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: right;
    text-decoration: none;
    background: white;
    color: #6565d8;
    font: 11px arial;
}

.sddm div a:hover {
    background: #49A3FF;
    color: #FFFFFF;
}

#sddm-noh1 {
  margin: 25px 0px;
  font: 80% "Trebuchet MS", Helvetica;
  cursor:default;
}

.column {
   width: 50%;
   float: left;
   padding-bottom: 100px;
   margin-top: 4px;
 }

div.parsley-success,
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

div.parsley-error,
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: var(--error-background);
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.parsley-errors-list li {
  color: #ff0000;
}

.parsley-custom-error-message {
  color: #ff0000;
}

.message-error {
  color: #ff0000;
}

.message-important {
  color: #6565d8;
}

.message-info {
  color: #666666;
}

.warning-icon {
  font-size: 150%;
  font-weight: bold;
  vertical-align: sub;
}

.hidden {
  display: none;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #000;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}
/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #f8f8f8;
  border-color: #FFE778;
}
.bs-callout-warning h4 {
  color: #FFE778;
}
.bs-callout-info {
  background-color: #f8f8f8;
  border-color: #6565D8;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.warning {
  color: #b23115;
}

.big {
  font-size:150%;
  font-weight:bold;
  margin-top:0px;
  margin-bottom: .15em;
  border: 1px solid black;
  border-radius: .25rem;
  padding: .25em;
}

.big-error {
  color: #B94A48;
  border-color: #B94A48;
  background-color: var(--error-background);
}

.big-important {
  color: #6565d8;
  border-color: #6565d8;
  background-color: var(--purple-light);
}

.big-info {
  color: #666666;
  border-color: #666666;
  background-color: #3333;
}

button.disabled {
  opacity: .4;
}

.table-note {
  background-color: var(--yellow-light);
}

.no-border {
  border: 0;
}

/* banded rows */
#hotContainer > div.ht_master table.htCore > tbody > tr:nth-child(2n) > td {
  background-color: #E2E4FF;
}
#hotContainer > div.ht_clone_left table.htCore > tbody > tr:nth-child(2n) > td {
  background-color: #E2E4FF;
}

.handsontable td.htInvalid {
  background-color: var(--error-background) !important; /*gives priority over td.area selection background*/
}

.handsontable .htAutocompleteArrow {
  color: #696969;
}

.handsontable td.area .htAutocompleteArrow {
  color: #696969;
}

.handsontable td.nonStandardAlias {
  background-color: var(--yellow-light) !important;
}

.handsontable td.nonStandardAlias.htInvalid {
  background-color: #F5E5DA !important;
}

.handsontable td.multipleOptions {
  background-color: var(--yellow-light) !important;
}

.handsontable td.notification {
  background-color: #FDEABC !important;
}

/* fix for autocomplete menus being hidden when they extend beyond the table */
.handsontableEditor.autocompleteEditor, .handsontableEditor.autocompleteEditor .ht_master .wtHolder {
  min-height: 138px;
}

/* hide unnecessary vertical scrollbar */
#hotContainer > .ht_master > .wtHolder {
  overflow-x: auto;
  overflow-y: hidden;
}

.datatable-scroll {
    overflow-x: auto;
}

/* Override Datatables' explicit toolbar height */
.paging_full_numbers {
    height: auto;
}

.dataTables_wrapper thead {
  background-color: var(--grey-extralight);
}

.ui-toolbar {
  background: #ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  border: 1px solid var(--grey-dark);
}

.dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input {
  background-color: white;
}

.dataTables_wrapper th {
  border: 1px solid var(--grey-light);
}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-mox-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.boxVisColHeader {
	width: 30px;
	text-align: center;
	font-weight: bold;
}
	
.boxVisRowHeader {
	height: 30px;
	text-align: center;
	font-weight: bold;
}

#searchHelpQuestionMark {
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltipIcon {
    padding: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 25px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.nowrap {
    white-space: nowrap;
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
    text-align: left;
}

.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: #F1EDFF;
    font-size: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.searchHelpTable {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

.searchHelpTable td {
    border: 1px solid black;
    font-size: 12px;
}
.searchHelpTable th {
    border: 1px solid black;
    font-size: 12px;
}

.searchHelpTable caption {
    border: 1px solid black;
    font-size: 12px;
}

@media print {
  #pageHeader, #subcontent, .fg-toolbar, .sectionDivider, .dataTables_paginate, .noPrint {
    display: none;
  }
  
  #contentcolumn {
    margin-left: 0;
  }
  
  .datatable-scroll + .fg-toolbar {
    display: block;
    border: none;
  }
  
  .dataTables_info {
    font-weight: bold;
  }
  
  h1 {
    border: none;
  }
}

#workflowDisplay {
  margin: 12px;
}

#workflowDisplay > input {
  font-size: 20px;
}

#workflowDisplay > .ui-button {
  font-size: 20px;
  padding: 3px;
}

.workflowInstruction {
  font-size: 24px;
  margin-bottom: 24px;
}

.workflowLogTable {
  margin-top: 48px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.workflowLogTable td {
  font-size: 16px;
}

.workflowLogTable tr.odd {
  background-color: #E2E4FF;
}

div#inputError {
  color: red;
}

.logIconCell {
  width: 40px;
}

.logIcon {
  width: 30px;
  height: 30px;
  margin: 5px 12px;
}

.storageComponentContainer {
  float: left;
  padding: 12px;
}

.storageComponentLabel {
  float: left;
  font-weight: bold;
}

#storageComponentActionContainer {
  float: right;
  margin-left: 12px;
}

.storageComponentButton {
  float: right;
}

.storageComponent, .storageComponent td {
  border: 1px solid var(--grey-dark);
  border-collapse: collapse;
  background: var(--grey-light);
}

.storageComponent td {
  padding: 12px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.storageComponent td .storageNode {
  float: left;
  border: 1px solid black;
  background: #0085B7;
  padding: 12px;
  margin: 2px;
}

.storageComponent .selected {
  background: #00BAFF !important;
}

.small-gap-right {
  margin-right: 1ch;
  padding: 0.25ch 0.5ch;
}

.clickable-non-link {
  cursor: pointer;
  color: rgb(0,102,204);
}

ul.unformatted-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.note-delete-icon {
  clear: both;
  position: relative;
  float: right;
  margin-top: -4px;
}

.field-help-icon {
  width: 12px;
  height: 12px;
  position: relative;
  top: 2px;
}

#metricsTable {
  margin-top: 3px;
}

#metricsTable, #metricsTable > thead > tr > th, #metricsTable > tbody > tr > td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

#metricsTable td.failed {
  background-color: var(--error-background);
}

#metricsTable select {
  width: 250px;
}

#metricsTable input {
  width: 242px;
}

#dialog {
  max-height: 75vh;
}

.ui-dialog {
  max-width: 90vw;
  z-index: 105 !important; // needed to appear over Handsontables frozen columns
}

.ui-button {
  line-height: 22px;
}
