{% include head.html %}
        <div class="container">
            <div class="row">
                <div id="header" class="col-sm-12">
                    {% include header.html %}
                </div>
            </div>

            <div class="row">
                {% assign post_count = site.posts|size %}
                {% if site.navigation != 0 and site.navigation == 1 or post_count > 0 %}
                    <div id="navigation" class="col-sm-2">
                        {% include dev_navigation.html %}
                    </div>

                    <div id="content" class="col-sm-10">
                        {{ content }}
                    </div>
                {% else %}
                    <div id="content" class="col-sm-12">
                        {{ content }}
                    </div>
                {% endif %}
            </div>

            {% if page.disqus == 1 %}
            <div class="row">
              {% if site.navigation == 1 or post_count > 0 %}
                <div id="navigation" class="col-sm-2"></div>
                <div id="disqus" class="col-sm-10">
                    {% include disqus.html %}
                </div>
              {% else %}
                <div id="disqus" class="col-sm-12">
                    {% include disqus.html %}
                </div>
              {% endif %}
            </div>
            {% endif %}

            <div class="row">
                <div id="footer" class="col-sm-12">
                    {% include footer.html %}
                </div>
            </div>
        </div>

        <script src="{{site.baseurl}}/styles/navigation.js"></script>

        {% if site.google_analytics_id != "" %}
        {% include google_analytics.html %}
        {% endif %}
    </body>
</html>
