name: Bulk Page UI Tests
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
jobs:
  CI:
    runs-on: ubuntu-latest
    env:
      DOCKER_USERNAME: dcooke
      DOCKER_PASSWORD: ${{ secrets.docker_password }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - run: mvn --batch-mode clean install -DskipTests
      - run: |
          mvn --batch-mode verify -pl miso-web -DskipUTs=true -DskipITs=false \
          -Dit.test='Bulk*' -Ddocker.username="${DOCKER_USERNAME}" \
          -Ddocker.password="${DOCKER_PASSWORD}"
